
@{
    ViewData["Title"] = "Menu";
}

<div class="row">
    <a href="../Conta/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/conta.jpg" />
            <h3>Criar Conta</h3>
        </div>
    </a>

    <a href="../PlanoConta/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/planocontas.jpg" />
            <h3>Plano de Contas</h3>
        </div>
    </a>

    <a href="../Transacao/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/registrartransacao.jpg" />
            <h3>Registrar Transação</h3>
        </div>
    </a>

</div>

<br />
<br />
<br />


<div class="row">
    <a href="../Transacao/Extrato">
        <div class="col-lg-4 text-center">
            <img src="~/images/estrato.jpg" />
            <h3>Extrato</h3>
        </div>
    </a>

    <a href="../Transacao/Dashboard">
        <div class="col-lg-4 text-center">
            <img src="~/images/dashboard.jpg" />
            <h3>Dashboard</h3>
        </div>
    </a>

    <a href="../Home/Ajuda">
        <div class="col-lg-4 text-center">
            <img src="~/images/ajuda.jpg" />
            <h3>Ajuda</h3>
        </div>
    </a>

</div>

