
@{
    Layout = "../Shared/_LayoutLogin.cshtml";
}

<div class="alert-success">
    <h2>Parabens sua conta foi criada com Sucesso! Clique <a href="../Usuario/Login"> aqui</a> para efeturar login no sistema</h2>
</div>
